html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}
body {
  -webkit-text-size-adjust:none;
  font-family:sans-serif;
  min-height:416px;
}
h1 {
  font-size:33px;
  margin:50px 0 15px;
  text-align:center;
  color:#212121;
}
h2 {
  font-size:14px;
  font-weight:bold;
  color:#3c3c3c;
  margin:20px 10px 10px;
}
small {
  margin:0 10px 30px;
  display:block;
  font-size:12px;
}


html, body{
  font-family: 'Exo', Arial, serif;
  color: #EEE;
  font-weight: 500;
  background-color: #111;
  font-size: 16px;
}

#header{
  background: #1c1c1c;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 32px;
  height: 32px;
  padding: 0 50px;
}
#header a{
  background: center center no-repeat transparent;
  background-image: url("../images/menu_32.png");
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: -5px;
}
#liner{
  width: 100%;
  height: 1px;
  background-color: #fefefe;

}

#nav ul li a img{
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

.mm-menu {
  color: rgba(255, 255, 255, 0.9);
}

.mm-list > li > a:hover {
  text-decoration: underline;
}

#console {
  font-size: 12px;
  font-family:"Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  color: #999;
  line-height: 18px;
  margin-top: 20px;
  max-height: 150px;
  overflow: auto;
}

#mySwipe div b {
  display:block;
  font-weight:bold;
  color:#14ADE5;
  font-size:20px;
  text-align:center;
  margin:10px;
  padding:100px 10px;
  box-shadow: 0 1px #EBEBEB;
  background: #fff;
  border-radius: 3px;
  border: 1px solid;
  border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

div.tweet {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 320px;

}
div.tweet div.content_container{
  width: 320px;
  height: 220px;
}
div.tweet div.content_container .content{
  border-radius: 10px;
  padding-bottom: 15px;
}
div.tweet div.content_container .author{
  border-radius: 10px;
  text-align: right;
}
div.tweet div.content_container .urls{
  border-radius: 10px;
  text-align: left;
}
div.tweet div.content_container .hashtags{
  border-radius: 10px;
}

div.tweet .retweet{
  position: absolute;
  top: 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  font-size: 0px;
}
div.tweet .retweet{
  right: 20px;
}


div.tweet .retweet a img, div.tweet .up a img{
  width: 24px;
}
div.tweet{
  position: relative;
  color: #eee;
}

div.tweet a{
  color: #eee;
}

div.tweet .urls, div.tweet .hashtags, div.tweet .author, div.tweet .content{
padding: 5px 20px;
}

#about_container{
  height: 480px;
  line-height: 20px;
  font-size: 90%;
}
#about_container .header{
  font-size: 113%;
  text-align: center;
  margin: 0 auto;
}
#about_container .content{
  text-align: justify;
  margin: 10px;
}
#about_container{
  display: none;
  height: 500px;
}
#up{
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.4);
  padding: 5px;
  font-size: 0px;
  margin: 10px auto;
  width: 80%;
  text-align: center;
}

img.border{
  position:absolute;top:0;left:0;
}
img.border, img.real{
  width: 320px;
  height: 320px;
}

