
body {
  font-family: 'Exo', Arial, serif;
  color: #EEE;
  font-weight: 800;
  background-color: #111;
  font-size: 16px;
}

div#dblnd, div#about , div#historyEnd{
  color: #111;
  font-weight: 600;
}

div.head {
  line-height: 120px;
  text-align: center;
  font-size: 16px;
}

div.title, div.bars_container {
  text-align: center;
  width: 100%;
  font-weight: 600;
  line-height: 0;
}

div.bars_container {
  background: url("../images/db_bars.png") center repeat-y;
  height: 100%;
}

div.title_container {
  position: absolute;
  top: -336px;
  z-index: 999;
  height: 0%;
  width: 100%;
}

div.title div.subtitle {
  font-size: 13px;
}

div#wrap {
}

#makeMeScrollable {
  width: 100%;
  height: 420px;
  position: relative;
  margin-top: 60px;
}

#makeMeScrollable .imgContainer {
  width: 420px;
}

/*#makeMeScrollable div.scrollableArea{
  width: 3840px;
}*/

#makeMeScrollable div.scrollableArea div.tweet {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  border: black solid 1px;
  text-align: center;
  width: 420px;
  height: 420px;

}

div.share {
  padding: 16px 0 56px;
}

div.tweet img {

}

div.tweet div.content_container {
  position: absolute;
  top: 180px;
  width: 360px;
}

div.tweet div.content_container .content {
  position: absolute;
  top: 80px;
  left: 24px;
  font-size: 22px;
  width: 100%;
  border-radius: 10px;
}

div.tweet div.content_container .author {
  position: absolute;
  top: 195px;
  right: 0px;
  border-radius: 10px;
}

div.tweet div.content_container .urls {
  position: absolute;
  top: 120px;
  text-align: left;
  border-radius: 10px;
}

div.tweet div.content_container .hashtags {
  position: absolute;
  top: 160px;
  text-align: left;
  border-radius: 10px;
}

div.tweet div.content_container .retweet {
  position: absolute;
  top: -165px;
  right: -20px;
  border-radius: 10px;
}

div.tweet div.content_container .retweet  a img{
  width: 32px;
}

div.tweet {
  color: #111;
  text-shadow: 0px 0px 0px #333333, 0px 1px 0px #FFFFFF;
}

div.tweet div.content_container a {
  color: #111;
  /*text-shadow: 0px 0px 0px #333333, 0px 1px 0px #33FF00;*/
}

div.tweet .urls, div.tweet .retweet, div.tweet .author, div.tweet .content {
  background: rgba(255, 255, 255, 0.6);
  padding: 5px;
}

div#refresher {
  width: 100%;
}

div#refresher a {
  margin: 16px;
}

div#footer {
  font-size: 12px;
  font-weight: 600;
}

div#footer a{
  margin-right: 20px;
}

div#footer a img{
  width: 20px;
}

img.logo {
  width: 320px;
}

img.bars {
  width: 100px;
  margin: -2px 4px 0 0;
}

.tweetcontent {
  display: none;
}

/************* OVERWRITE BOOTSTRAP ***************/
[class^="icon-"], [class*=" icon-"] {
  background-image: url("glyphicons-halflings.png");
}
